<div class='pokemon'>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">
<p><a href='/pokemons'> < back</a></p>
<p>  <label for="pokemon[name]">Name:</label></p>
  <input name="pokemon[name]" value="<%= @pokemon.name %>">

  <p><label for="pokemon[poke_type]">Poke Type:</label></p>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

  <p><label for="pokemon[cp]">CP:</label></p>
  <input name="pokemon[cp]" type="number" value="<%= @pokemon.cp%>">

  <input class="button-style" type="submit" value="Update">
</form>

<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-style" type="submit" value="Delete!">
</form>
</div>
